@font-face {
  font-family: 'Kongtext';
  src: local('Kongtext'), url(./kongtext.ttf) format('truetype');
}

body {
  font-family: Kongtext, Arial, serif;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.App {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.App.ready .overlay {
  display: block;
}

.App.ready .img-mapper-img {
  filter: blur(2rem);
}

.App.complete .overlay {
  display: block;
}

.background-img {
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3) ),  url('./ward.jpg') center no-repeat;
  background-size: auto, cover;
  filter: blur(1rem);
  width: 100%;
  height: 100%;
  position: absolute;
}

.map-container {
  display: table-cell;
  vertical-align: middle;
}

#img-mapper {
  margin:0 auto;
}

.img-mapper-img {
  z-index: -1;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.overlay-content {
  position: relative;
  z-index: 20;
  top: 50%;
  transform: translateY(-50%);
}

.overlay-content .nes-container {
  margin-left: 10vw;
  margin-right: 10vw;
}

.description {
  font-size: 1.5rem;
  color: #ddd;
}

.nes-btn.start {
  margin-top: 2rem;
}

.timer {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 2;
  font-size: 2rem;
  text-shadow:
    -1px -1px 0 #555,
     0   -1px 0 #555,
     1px -1px 0 #555,
     1px  0   0 #555,
     1px  1px 0 #555,
     0    1px 0 #555,
    -1px  1px 0 #555,
    -1px  0   0 #555;
}

.score {
  position: fixed;
  top: 1rem;
  left: 2rem;
  z-index: 2;
  font-size: 2rem;
  text-shadow:
    -1px -1px 0 #555,
     0   -1px 0 #555,
     1px -1px 0 #555,
     1px  0   0 #555,
     1px  1px 0 #555,
     0    1px 0 #555,
    -1px  1px 0 #555,
    -1px  0   0 #555;
}

.score .nes-icon {
  height: 14px;
  margin-right: 0;
}
